<html>


<footer class="navbar   navbar-light " style="background-color: rgb(79, 99, 143);">
    <ul class="nav justify-content-start">
        <li class="nav-link text-info">
            <a class="navbar-brand" href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2FIMG_20210112_212912528_2.jpg?alt=media&token=774f4028-37eb-41fb-ac5a-bb204bee2f01" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class="ps-2">Franky&Screws</span>
            </a>
        </li>
    </ul>
    <ul class="nav justify-content-center">
        Franky&Screws© 2022 Copyright:
        <a class="text-dark " href="https://mdbootstrap.com/ ">Franky&Screws.com</a>

    </ul>

    <ul class="nav justify-content-end invisible">

        <li class="nav-link text-info">
            <a class="dropdown-item" [routerLink]="['/']">Inicio</a>
        </li>



    </ul>
</footer>

</html>