<html>
<div>
    <div class="container">
        <div class="card text-center" style="background-color: rgb(217, 219, 219);">

            <div class="card-body">
                <h5 class="card-title">¿Quienes somos?</h5>
                <p class="card-text">Somos un grupo de Pop Rock asentado en Valencia,España</p>

            </div>

        </div>
    </div>

    <div class="container pb-5">
        <div id="carouselExampleFade" class="carousel slide carousel-fade mt-3 mx-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2F20170116_204354.jpg?alt=media&token=42ac6238-c190-4475-b2aa-065581a4bb93" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2F20170116_224527.jpg?alt=media&token=dbd91bb3-c5e2-4ddc-b695-4000678eff8f" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2FIMG-20210510-WA0025.jpg?alt=media&token=95c5d455-db1f-41f1-84f9-313d2735f5eb" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2FIMG-20210510-WA0027.jpg?alt=media&token=cf034aff-9b95-42c7-bf3a-465cf6a93de1" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2FIMG-20210510-WA0029.jpg?alt=media&token=e2c1a562-4698-4ab5-b1ed-4d5ad0a69a40" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2FIMG_20200205_125937594_HDR.jpg?alt=media&token=9f8d9e70-dc1a-4367-a75c-96bbeb2f8a55" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
        </div>
    </div>
</div>

</html>