<html>
<div>
    <div class="container pt-3 ">
        <span><h3>Mi discografía</h3></span>
        <table class="table table ">
            <thead>
                <tr>

                    <th scope="col">Portada del album</th>
                    <th scope="col">Nombre del album</th>
                    <th scope="col">Año de estreno </th>
                    <th scope="col">Plataformas</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td><img src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FFotos%2FPORTADA%20OK.jpg?alt=media&token=c11ff0cd-d0b0-4a9e-a06f-4ec4448c6f8f" height="240px" width="240px" class="rounded float-left"
                            alt="..."></td>
                    <td>Broken Wings</td>
                    <td>2022</td>
                    <td>
                        <a href="https://open.spotify.com/album/0CGzTcEUbMQbUyJDcQMw25" target="_blank">
                            <p><button type="button" class="btn btn-success">Spotify<i class="bi bi-spotify ps-1"></i></button></p>
                        </a>
                        <a href="https://youtu.be/6cJLKg6-fsg" target="_blank">
                            <p><button type="button" class="btn btn-danger">YouTube<i class="bi bi-youtube ps-1"></i></button></p>
                        </a>
                        <a href="https://music.apple.com/es/album/broken-wings/1631738966?ls" target="_blank">
                            <p><button type="button" class="btn btn-dark">Apple Music<i class="bi bi-apple ps-1"></i></button></p>
                        </a>
                    </td>
                </tr>
                <tr>



                </tr>
                <tr>




                </tr>
            </tbody>
        </table>
    </div>

    <div class="container mt-1 pb-5">
        <span class="pb-5 bg-white">Canciones</span>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Spanish Eyes
            </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FSpanish%20Eyes%20(mp3cut.net).wav?alt=media&token=042033b3-9bd8-4f9f-8c0d-b75b280ee2ca" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>

                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Minutes of Gold and Glory
            </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2Fminuts%20of%20gold%20and%20glory%20(mp3cut.net).wav?alt=media&token=57dce412-ee20-4dee-971b-7e97de94c1ef" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Rebels
            </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FRebels%20(mp3cut.net).wav?alt=media&token=a813d234-3e67-4b28-bbd6-1837fd730949" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              This Is Your Song
            </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FThis%20Is%20Your%20Song%20(mp3cut.net).wav?alt=media&token=ce1b4eb8-b1f2-4f2a-bd0e-cf1238af3b5a" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Perfect Princess
            </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FPerfect%20Princess%20(mp3cut.net).mp3?alt=media&token=45934af2-32b9-44b5-a327-28f1de838244" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Love Abound
            </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FLove%20Abound%20(mp3cut.net).mp3?alt=media&token=265d27f7-d55a-4071-b195-b00bf2348b23" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              Wonderful Sins
            </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FWonderful%20Sins%20(mp3cut.net).wav?alt=media&token=1b7bd938-da43-4517-8940-63cb73006bfd" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
              My Car
            </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FMy%20Car%20(mp3cut.net).wav?alt=media&token=15cce979-d1b5-4399-95d7-572db5817234" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
              Down
            </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FDown%20(mp3cut.net).wav?alt=media&token=302d5696-6c98-46cf-a345-f231a5273d0d" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
              BrokenWings
            </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h2>Demo</h2>
                        <audio controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/listacurso-31ab9.appspot.com/o/Franky%26Screws%2FCanciones%20cortadas%2FBroken%20Wings%20(mp3cut.net).wav?alt=media&token=ae641bfe-da7d-4202-802e-0737b4542d59" type="audio/wav">
                        
                      Your browser does not support the audio element.
                      </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>